<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Evnts Test</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/teste-evnts/css/normalize.css">
		<link rel="stylesheet" href="/teste-evnts/libs-evnts/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/teste-evnts/css/main.css">
	</head>
	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<div class="container-fluid" ng-app="evntsApp">
				<div class="row" ng-controller="eventController">
					<div ng-repeat="hotel in hotels" class="col-xs-12 col-md-4">

						<div class="jumbotron">

							<a href="#" class="thumbnail">
								<img ng-src="{{hotel.image}}" alt="">
							</a>
						
							<h3>{{hotel.name}}</h3>

							<span class="stars">{{hotel.stars | stars}}</span><br/>
							<strong>Distância do evento:</strong> <span>{{hotel.distanceToEvent}}</span><br/>
							<strong>Localização:</strong> <span>{{hotel.location}}</span><br/>

							<p>{{hotel.description}}</p>

							<ul>
								<li ng-repeat="amenitie in hotel.amenities">
									{{amenitie}}
								</li>
							</ul>

							<p><a ng-click="showme=true" class="btn btn-primary btn-lg" role="button">Veja quartos disponíveis</a></p>
							
							<div class="wrapper" ng-show="showme">
								<div ng-repeat="room in hotel.rooms" class="alert alert-info" role="alert">
									
									<h4>{{room.name}}</h4>
									<strong>Preço:</strong> <span>{{room.price}}</span><br/>
									<ul>
										<li ng-repeat="bed in room.beds">
											{{bed}}
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
		</div>

		<script src="/teste-evnts/libs-evnts/angular.min.js"></script>
		<script src="/teste-evnts/libs-evnts/angular-animate.min.js"></script>
		<script src="/teste-evnts/libs-evnts/angular-aria.min.js"></script>

		<script>
			var evntsApp = angular.module(
					'evntsApp', 
					['ngAnimate', 'ngAria']
				)
				.controller('eventController', function($scope, $http, $location) {
					$http.get('https://eng.evnts.rocks/hotels')
					.then(function(response) {
						$scope.hotels = response.data;
						console.log($scope.hotels);
					});

				}).filter('stars', function() {
					return function(input) {

						console.log(input, input);

						input = parseInt(input, 10);
						var output = [];

						for (var i=0; i<input; i++) {
							output.push('*');
						}

						return output.join('');
					};
				});
		</script>

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
			window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
			ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	</body>
</html>